/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
    margin-bottom: 0.25em;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* end of reset */

grid {
    display: grid;
    grid-auto-rows: auto;
}

.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
}

.timespan {
    grid-area: timespan;
    display: flex;
    justify-self: flex-end;
}

.content {
    grid-area: content;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    text-align: left;
}

.header {
    grid-area: header;
}

.shadowed {
    $shadow-color-light: #fbc531;
    $shadow-color-dark: #e84118;
    display: inline-block;

    h1 {    
        margin: 0;
        font-size: 64px;
        position: relative;
        font-weight: 900;
        text-transform: uppercase;
        width: 100%;
    }

    h1:after {
        content: attr(data-heading);
        position: absolute;
        left: 0;
        top: 0;
        color: #2f3640;
        width: 100%;
        text-shadow: 1px 0px 0px $shadow-color-light,
            0px 1px 0px $shadow-color-dark, 2px 1px 0px $shadow-color-light,
            1px 2px 0px $shadow-color-dark, 3px 2px 0px $shadow-color-light,
            2px 3px 0px $shadow-color-dark, 4px 3px 0px $shadow-color-light,
            3px 4px 0px $shadow-color-dark, 5px 4px 0px $shadow-color-light,
            4px 5px 0px $shadow-color-dark, 6px 5px 0px $shadow-color-light,
            5px 6px 0px $shadow-color-dark, 7px 6px 0px $shadow-color-light;
    }
}

.contactinfo {
    margin-top: 0px;
    color: #bc412b;
    font-family: Monaco, Menlo, monospace, sans-serif;
    font-size: 100%;
    float: right;
    position: relative;
    margin-left: auto;
    height: 88px;
}

.contactinfo__inner {
    position: absolute;
    bottom: 0px;
    right: 0px;
    text-align: right;
}

.contact {
    width: 200px;
    display: block;
}

.printonly {
    display: none;
}

.wrapper {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 18% auto 15%;
    grid-template-areas:
        '....... header  header'
        'sidebar content timespan';
    grid-auto-rows: min-content;
}

.box {
    padding: 5px 20px 5px 20px;
}

.timespan {
    text-align: right;
}

body {
    font: normal normal 400;
    font-size: 100%;
    line-height: 1.5em;
    /*also written as...  font: normal normal 400 100%/1.5em;*/
    font-family: Avenir, Verdana, sans-serif;
    margin: 1em;
}

code {
    font: normal normal;
    font-size: 90%;
    /*line-height: 1em;*/
    font-family: Monaco, Menlo, monospace, sans-serif;
    color: rgb(32, 32, 32);
}

p code {
    text-align: right;
}

h1,
h2,
h3,
h4 {
    font-weight: 400;
    font-family: Avenir, Cousine, Verdana, sans-serif;
}

h1 {
    text-align: left;
    font-size: 3em;
    line-height: 1em;
}

h1 + p {
    /*subtitle*/
    font-style: italic;
    font-size: 110%;
}

h2,
h3 {
    padding-bottom: 7px;
}

h2 {
    text-align: right;
    font-size: 1.3em;
    color: #bc412b;
    word-wrap: break-word;
}

h3 {
    font-size: 1em;
    text-align: right;
}

em {
    /* font-weight: bold; */
    font-style: italic;
}

strong {
    font-weight: bolder;
}

a {
    color: inherit;
    /*text-decoration:none*/
}

a:hover {
    color: #39f;
}

li ul {
    text-align: left;
    margin-top: 0.25em;
}

@media print {
    .wrapper {
        display: grid;
        grid-gap: 5px;
        grid-template-columns: 25% auto;
        grid-template-areas:
            'header header'
            'sidebar content';
        grid-auto-rows: min-content;
        margin-left: auto;
        margin-right: auto;
    }

    .sidebar {
        font-size: x-small;
    }

    .timespan {
        font-size: x-small;
        display: none;
        visibility: hidden;
    }

    .content {
        a {
            display: none;
        }

        font-size: x-small;
        ul li {
            display: inline;
        }
    }

    .noprint {
        display: none;
    }

    .printonly {
        display: inline;
    }

    .contactinfo__inner a {
        line-height: 0.5em;
        text-decoration: none;
        font-size: xx-small;
    }
}
