* {
        box-sizing: border-box;
}

:root {
    --fluid-max-negative: (1 / var(--fluid-max-ratio)) / var(--fluid-max-ratio);
    --fluid-min-negative: (1 / var(--fluid-min-ratio)) / var(--fluid-min-ratio);
    --fluid-min-scale--1: var(--fluid-min-ratio) * var(--fluid-min-negative);
    --fluid-max-scale--1: var(--fluid-max-ratio) * var(--fluid-max-negative);
    --fluid-min-size--1: (var(--fluid-min-size)) * var(--fluid-min-scale--1)/15;
    --fluid-max-size--1: (var(--fluid-max-size)) * var(--fluid-max-scale--1)/15;
    --step--1: calc( ( (var(--fluid-min-size--1)) * 1rem) + (var(--fluid-max-size--1)) - var(--fluid-min-size--1)) * var(--fluid-bp);
    --fluid-min-scale-0: var(--fluid-min-ratio);
    --fluid-max-scale-0: var(--fluid-max-ratio);
    --fluid-min-size-0: (var(--fluid-min-size))/16;
    --fluid-max-size-0: (var(--fluid-max-size))/16;
    --step-0: calc( ( (var(--fluid-min-size-0)) * 1rem) + (var(--fluid-max-size-0)) - var(--fluid-min-size-0)) * var(--fluid-bp);
    --fluid-min-scale-1: var(--fluid-min-scale-0) * var(--fluid-min-ratio);
    --fluid-max-scale-1: var(--fluid-max-scale-0) * var(--fluid-max-ratio);
    --fluid-min-size-1: (var(--fluid-min-size)) * var(--fluid-min-scale-0)/20;
    --fluid-max-size-1: (var(--fluid-max-size)) * var(--fluid-max-scale-0)/16;
    --step-1: calc( ( (var(--fluid-min-size-1)) * 1rem) + (var(--fluid-max-size-1)) - var(--fluid-min-size-1)) * var(--fluid-bp);
    --fluid-min-scale-2: var(--fluid-min-scale-1) * var(--fluid-min-ratio);
    --fluid-max-scale-2: var(--fluid-max-scale-1) * var(--fluid-max-ratio);
    --fluid-min-size-2: (var(--fluid-min-size)) * var(--fluid-min-scale-1)/20;
    --fluid-max-size-2: (var(--fluid-max-size)) * var(--fluid-max-scale-1)/16;
    --step-2: calc( ( (var(--fluid-min-size-2)) * 1rem) + (var(--fluid-max-size-2)) - var(--fluid-min-size-2)) * var(--fluid-bp);
    --fluid-min-scale-3: var(--fluid-min-scale-2) * var(--fluid-min-ratio);
    --fluid-max-scale-3: var(--fluid-max-scale-2) * var(--fluid-max-ratio);
    --fluid-min-size-3: (var(--fluid-min-size)) * var(--fluid-min-scale-2)/16;
    --fluid-max-size-3: (var(--fluid-max-size)) * var(--fluid-max-scale-2)/16;
    --step-3: calc( ( (var(--fluid-min-size-3)) * 1rem) + (var(--fluid-max-size-3)) - var(--fluid-min-size-3)) * var(--fluid-bp);
    --fluid-min-scale-4: var(--fluid-min-scale-3) * var(--fluid-min-ratio);
    --fluid-max-scale-4: var(--fluid-max-scale-3) * var(--fluid-max-ratio);
    --fluid-min-size-4: (var(--fluid-min-size)) * var(--fluid-min-scale-3)/16;
    --fluid-max-size-4: (var(--fluid-max-size)) * var(--fluid-max-scale-3)/16;
    --step-4: calc( ( (var(--fluid-min-size-4)) * 1rem) + (var(--fluid-max-size-4)) - var(--fluid-min-size-4)) * var(--fluid-bp);
    --fluid-min-scale-5: var(--fluid-min-scale-4) * var(--fluid-min-ratio);
    --fluid-max-scale-5: var(--fluid-max-scale-4) * var(--fluid-max-ratio);
    --fluid-min-size-5: (var(--fluid-min-size)) * var(--fluid-min-scale-4)/16;
    --fluid-max-size-5: (var(--fluid-max-size)) * var(--fluid-max-scale-4)/16;
    --step-5: calc( ( (var(--fluid-min-size-5)) * 1rem) + (var(--fluid-max-size-5)) - var(--fluid-min-size-5)) * var(--fluid-bp);
    --fluid-min-scale-6: var(--fluid-min-scale-5) * var(--fluid-min-ratio);
    --fluid-max-scale-6: var(--fluid-max-scale-5) * var(--fluid-max-ratio);
    --fluid-min-size-6: (var(--fluid-min-size)) * var(--fluid-min-scale-5)/20;
    --fluid-max-size-6: (var(--fluid-max-size)) * var(--fluid-max-scale-5)/16;
    --step-6: calc( ( (var(--fluid-min-size-6)) * 1rem) + (var(--fluid-max-size-6)) - var(--fluid-min-size-6)) * var(--fluid-bp);
    --fluid-min-scale-7: var(--fluid-min-scale-6) * var(--fluid-min-ratio);
    --fluid-max-scale-7: var(--fluid-max-scale-6) * var(--fluid-max-ratio);
    --fluid-min-size-7: (var(--fluid-min-size)) * var(--fluid-min-scale-6)/20;
    --fluid-max-size-7: (var(--fluid-max-size)) * var(--fluid-max-scale-6)/16;
    --step-7: calc( ( (var(--fluid-min-size-7)) * 1rem) + (var(--fluid-max-size-7)) - var(--fluid-min-size-7)) * var(--fluid-bp);

    --fluid-min-width: 320;
    --fluid-max-width: 2000;
    --fluid-min-size: 16;
    --fluid-max-size: 19;
    --fluid-min-ratio: 1.2;
    --fluid-max-ratio: 1.25;
    --fluid-screen: 100vw;
    --fluid-bp: calc( (var(--fluid-screen)) - ((var(--fluid-min-width)) / 16) * 1rem) / ((var(--fluid-max-width)) / 16) - (var(--fluid-min-width)) / 16;
}

:after, :before {
    box-sizing: inherit;
}

.party {
    --color-mint: hsl(164, 61%, 65%);
    --color-mint-up: hsl(148, 35%, 74%);
    --color-mint-down: hsl(163, 36%, 51%);
    --color-lilac: hsl(264, 51%, 71%);
    --color-sea: hsl(189, 58%, 65%);
    --color-highlight: hsl(264, 51%, 71%);
    --color-lilac-up: hsl(240, 33%, 77%);
    --color-sherbet: hsl(55, 97%, 85%);
    --color-sherbet-fade: hsl(55, 100%, 94%);
    --color-rose: hsl(344, 56%, 69%);
    --color-marshmellow: hsl(329, 44%, 71%);
    --color-peach: hsl(4, 65%, 85%);
    --color-biscuit: hsl(26, 18%, 61%);
    --color-oat: hsl(17, 12%, 77%);
    --color-light: hsl(0, 0%, 97%);
    --color-light-fade: hsl(300, 11%, 96%);
    --color-light-down: hsl(210, 4%, 98%);
    --color-light-down-2: hsl(210, 4%, 96%);
    --color-light-down-3: hsl(210, 4%, 93%);
    --color-mid: hsl(0, 0%, 80%);
    --color-dark: hsl(0, 0%, 25%);
    --color-dark-opacity: hsla(0, 0%, 25%, 0.3);
    --color-dark-down: hsl(237, 18%, 23%);
    --color-mint-selection: rgba(111, 220, 191, 0.9);
    --color-lilac-selection: rgba(173, 143, 219, 0.9);
    --color-light-selection: rgba(247, 247, 247, 0.99);
    --color-dark-selection: rgba(64, 64, 64, 0.99);
    --color-death-cloak: var(--color-light);
    --color-death-face: var(--color-light);
    
    
}

.death {
    -webkit-font-smoothing: antialiased;
    --color-mint: hsl(316, 30%, 36%);
    --color-highlight: hsl(240, 33%, 77%);
    --color-lilac: hsl(263, 29%, 32%);
    --color-peach: hsl(316, 30%, 36%);
    --color-sherbet: hsl(257, 8%, 18%);
    --color-sherbet-fade: hsl(260, 24%, 18%);
    --color-marshmellow: hsl(314, 22%, 42%);
    --color-light: hsl(274, 4%, 15%);
    --color-light-fade: hsl(274, 4%, 16%);
    --color-light-down: hsl(274, 4%, 16%);
    --color-light-down-2: hsl(274, 4%, 18%);
    --color-light-down-3: hsl(274, 4%, 20%);
    --color-mid: hsl(0, 0%, 80%);
    --color-dark: hsl(0, 0%, 98%);
    --color-dark-opacity: hsla(0, 0%, 98%, 0.3);
    --color-dark-down: hsl(0, 0%, 98%);
    --color-mint-selection: rgba(119, 64, 105, 0.9);
    --color-lilac-selection: rgba(76, 58, 105, 0.9);
    --color-light-selection: rgba(38, 37, 40, 0.99);
    --color-dark-selection: rgba(250, 250, 250, 0.99);
    --color-death-cloak: black;
    --color-death-face: hsl(205.18, 100%, 4.5%);
}

body {
    position: relative;
    scroll-behavior: smooth;
    color: var(--color-dark);
    --color-selection: var(--color-mint);
    --color-selection-bg: var(--color-light-selection);
    background-color: var(--color-light);
    line-height: 1.75;
    font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    font-size: var(--step-0);
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 800px) {
    .Site-head {
        background-color: transparent;
    }
}

.Site-head {
    top: 0;
    left: 0;
    right: 0;
}

@media screen and (min-width: 800px) {
    .nav {
        font-size: var(--step-0);
        background-color: transparent;
        position: relative;
        border-top: none;
        display: block;
    }
}

.nav {  
    background-color: var(--color-light);
    bottom: 0;
    left: 0;
    right: 0;
    
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-family: Mosk,sans-serif;
    font-size: .8rem;
    font-weight: 600;
    padding-bottom: env(safe-area-inset-bottom);
}

.nav__item {
    flex-shrink: 0;
}

@media screen and (min-width: 800px) {
    .nav a {
        margin-top: 0;
    }
}

.nav__item a {
    width: 100%;
    position: relative;
    display: block;
    color: currentColor;
    text-decoration: none;
    position: relative;
    padding-right: 2em;
}

.nav__item a:hover {
    text-decoration:overline;
}

.nav__item-hover {
    margin: 0;
    line-height: 1;
    text-decoration: none;
}

.theme-switch-wrapper {
    display: flex;
    align-items: center;

    em {
        margin-left: 10px;
        font-size: 1rem;
    }
}
.theme-switch {
    display: inline-block;
    height: 25px;
    position: relative;
    width: 45px;
}

.theme-switch input {
    display:none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 17px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 17px;
}

input:checked + .slider {
    background-color: var(--color-peach);
}

input:checked + .slider:before {
    transform: translateX(20px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
  
main:after {
    content: "";
    position: fixed;
    top: calc(80% - 100px);
    left: 25px;
    width: 500px;
    height:2000px;
    background: var(--color-rose);
    transform: skew(-25deg);
    transform-origin:top;
    z-index: -1;
}

main {
    overflow: hidden;
    display: block;
    --color-selection: var(--color-peach);
    --color-selection-bg: var(--color-dark);
}

.writing {
    --color-selection: var(--color-sea);
    --color-selection-bg: var(--color-dark-selection);
}

.writing {
    .Intro:after {
        background-color: var(--color-sea);
    }
}

@media screen and (min-width: 800px) {
    .Intro:after {
        right: -16%;
        bottom: -30%;
    }
}

.Intro:after {
    pointer-events: none;
    content: "";
    position: absolute;
    width: 18vw;
    height: 18vw;
    min-width: 150px;
    min-height: 150px;
    right: -20%;
    bottom: -5%;
    border-radius: 100%;
    background-color: var(--color-rose);
    z-index: -2;
}

::selection {
    color: var(--color-selection);
    background-color: var(--color-selection-bg);
}


@media screen and (min-width: 800px) {
    .Intro {
        box-shadow: 1rem 1rem 0 0 var(--color-dark);
    }
}

.Intro {
    position: relative;
    background-color: var(--color-light);
    color: var(--color-dark);
    border: solid 3px var(--color-dark);
    background-color: var(--color-light);
    box-shadow: .5rem .5rem 0 0 var(--color-dark-down);
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 80vw;
    margin: 0 auto;
}

.Intro:before {
    pointer-events: none;
    content: "";
    position: absolute;
    width: 18vw;
    height: 18vw;
    min-width: 150px;
    min-height: 150px;
    right: -14%;
    bottom: -15%;
    border-radius: 100%;
    border: solid 3px var(--color-dark);
    z-index: -1;
}
@media screen and (min-width: 800px) {
    .Intro__inner {
        display: flex;
    }
}

@media screen and (min-width: 800px) {
    .Intro__copy:only-child {
        width: 100%;
    }
}

@media screen and (min-width: 800px) {
    .Intro__copy {
        width: 50%;
        margin-left: 2rem;
    }
}

.Intro__copy {
    position: relative;
}

@media screen and (min-width: 800px) {
    .Intro__heading {
        border: none;
    }   
}

.Intro__heading {
    display: inline;
    background-image: linear-gradient(transparent 0,transparent 55%,var(--color-sherbet) 55%,var(--color-sherbet) 90%,transparent 90%,transparent 100%);
    background-repeat: no-repeat;
    background-size: 100%;
    animation: underline .5s 1s cubic-bezier(.645,.045,.355,1) forwards;
}

@media screen and (min-width: 800px) {
    .Intro__byline {
        margin-right: 2rem;
    }
}

@media screen and (min-width: 800px) {
    .Intro__svg {
        height: 250px;
        top: -10px;
        left: -100px;
    }
}

.Intro__svg {
    position: absolute;
    height: 200px;
    top: -150px;
    left: -181px;
    z-index: -1;
}

@media screen and (min-width: 800px) {
    .Intro__psvg {
        height: 250px;
        top: -10px;
        left: 100px;
    }
}

.Intro__psvg {
    position: absolute;
    height: 200px;
    top: -250px;
    left: 60%;
    z-index: -1;
    fill: var(--color-death-cloak)
}

svg {
    .Intro__svg {
        overflow-x: visible;
        overflow-y: visible;
    }
}

.professional-image {
    position: relative;
    float: right;
    right: 120px;
    bottom: 100px;
    z-index: 0;
}

.doglist {
}

.doglist a {
    color: inherit;
    text-decoration: inherit;
    cursor: text;
}

@media screen and (min-width: 48rem) {
    .md:space-before {
        justify-content: flex-end;
    }
}

.h3, h1 {
    line-height: 1.2;
}

h1, h2, h3 {
    font-family: Mosk,sans-serif;
    letter-spacing: .04em;
}

.h6, h4, h5, h6 {
    font-size: var(--step-1);
    letter-spacing: .02em;
    line-height: 1.8;
}

body, dd, dl, dt, figcaption, figure, h1, h2, h3, h4, li, ol, p, ul {
    margin: 0;
    padding: 0;
}

ol[class], ul[class] {
    list-style: none;
}


.sf-flow>*+* {
    margin-top: 1em;
    margin-top: var(--flow-space);
}

.sf-flow {
    --flow-space: 1em;
}

.pad-bottom-500 {
    padding-bottom: 1.25rem;
}

.pad-top-500 {
    padding-top: 1.25rem;
}

.pad-before {
    padding-top: calc(2rem + (4 - 2) * ((100vw - 20rem)/ (100 - 80)));
}

.pad-before-xlg {
    padding-top: calc(7.5rem + (10 - 7.5) * ((100vw - 20rem)/ (100 - 20)));
}

.pad-around {
    padding-top: calc(2rem + (4 - 2) * ((100vw - 20rem)/ (100 - 20)));
    padding-bottom: calc(2rem + (4 - 2) * ((100vw - 20rem)/ (100 - 20)));
}

.pad-around-xlg {
    padding-top: calc(7.5rem + (10 - 7.5) * ((100vw - 20rem)/ (100 - 20)));
    padding-bottom: calc(7.5rem + (10 - 7.5) * ((100vw - 20rem)/ (100 - 20)));
}

.wrapper-sm {
    max-width: 55rem;
    padding-left: calc(1rem + (4 - 1) * ((100vw - 20rem)/ (100 - 20)));
    padding-right: calc(1rem + (4 - 1) * ((100vw - 20rem)/ (100 - 20)));
}

.wrapper {
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
}

.wrapper-lg {
    max-width: 95rem;
}

.space-between {
    justify-content: space-between;
}

.box-flex {
    display: flex;
}

.align-center {
    align-items: center;
}
