{% extends "base.html" %}

{% block card %}
<header class="[ Intro ] [ pad-around ]">
    <div class="Intro__inner inner-wrapper sf-flow">
        <div class="Intro__copy sf-flow">
            {% block content %}{% endblock content %}
        </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" role="decorative" aria-hidden="true" viewBox="0 0 134 55.5" overflow="visible" class="Intro__svg">
        <defs>
            <pattern x="-257.8" y="0" width="5" height="5" patternUnits="userSpaceOnUse" id="dot-pattern" viewBox="0 -8 8 8" overflow="visible">
                <rect y="-8" width="8" height="8" fill="none"></rect>
                <ellipse cx="4" cy="-4" rx="0.05" ry="1" fill="var(--color-dark)" stroke="var(--color-dark)" stroke-miterlimit="10" />
            </pattern>
        </defs>
        <pattern id="SVGID_1_" xlink:href="#dot-pattern" patternTransform="translate(-1.3637 4.2113)" />
        <rect width="133.9" height="100" fill="url(#SVGID_1_)" />
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" role="decorative" aria-hidden="true" viewBox="0 0 134 55.5" overflow="visible" class="Intro__psvg">
        <path
        d="m0,0 q25,-50 100,100 L-25,100"
        />
        <ellipse cx="15" cy="17" rx="12" ry="20" fill="var(--color-death-face)" transform="rotate(-16)" />
    </svg>
</header>
{% endblock card %}
