<!DOCTYPE html>
<html>
    <head>
        <title>Alex Launi, UNO enthusiast</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta property="og:site_name" content="{{ get_url(path="") }}" />
        <meta property="og:title" content="Home - {{ get_url(path="") }}" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{ current_url }}" />
        <meta name="twitter:creator" content="@rhonda_jeremy" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" type="text/css" href="{{ get_url(path="style.css") }}" />
    </head>
    <body class="day">
        <main id="main-content" tabindex="-1" class="writing">
            <div class="pad-before-xlg">
                <div class="wrapper wrapper-sm pad-before">
                    <header class="[ Intro ] [ pad-around ]">
                        <div class="Intro__inner inner-wrapper sf-flow">
                            <div class="Intro__copy sf-flow">
                                <h1 class="Intro__heading h3">👋🏻 Hi, I'm Alex Launi</h1>
                                <div class="Intro__byline h6 sf-flow">
                                    <p>
                                        I am a master's of computer science student at ODU.
                                        I study <em>big data, and distributed systems</em>.
                                        I am a vegetarian and I like to 🚲 &nbsp; 🏃🏻‍♂️ and 🏋🏻‍♂️.
                                        I have three 🐕: <span style="text-decoration: underline;" onmouseout="">
                                            <span onmouseover="">Nacho</span>, 
                                            <span onmouseover="">Safia</span>, and 
                                            <span onmouseover=""></span>Izzard.</span> 
                                        </span>
                                        <strong>Black lives matter.</strong> I believe strongly in reparations.
                                    </p>
                                    <p>
                                        My current research is using behavioral economics and mobile
                                        health technologies to help people lift weights safer.
                                    </p>
                                    <p>
                                        I teach advanced submarine navigation for the US Navy, but I am actively looking for systems work!
                                        <a target="_blank" href="https://lamalex.github.io/cv">Take a look at my cv!</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" role="decorative" aria-hidden="true" viewBox="0 0 134 55.5" overflow="visible" class="Intro__svg">
                            <defs>
                                <pattern x="-257.8" y="0" width="5" height="5" patternUnits="userSpaceOnUse" id="dot-pattern" viewBox="0 -8 8 8" overflow="visible">
                                    <rect y="-8" width="8" height="8" fill="none"></rect>
                                    <ellipse cx="4" cy="-4" rx="0.05" ry="1" fill="var(--color-dark)" stroke="var(--color-dark)" stroke-miterlimit="10" />
                                </pattern>
                            </defs>
                            <pattern id="SVGID_1_" xlink:href="#dot-pattern" patternTransform="translate(-1.3637 4.2113)" />
                            <rect width="133.9" height="100" fill="url(#SVGID_1_)" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" role="decorative" aria-hidden="true" viewBox="0 0 134 55.5" overflow="visible" class="Intro__psvg">
                            <path
                            d="m0,0 q25,-50 100,100 L-25,100"
                            />
                            <ellipse cx="15" cy="17" rx="12" ry="20" fill="var(--color-dark)" transform="rotate(-16)" />
                        </svg>
                    </header>
                </div>
            </div>
            <div class="pad-around-xlg">
                <img id="photo" src="{{ get_url(path="IMG_1355.png") }}" width="400px" class="professional-image" />
            </div>
        </main> 
    </body>
</html>