{% extends "cv-base.html" %}
{% block content %}

{% for segment in section.pages | sort(attribute="extra.weight") %}
<div class="cv-wrapper {% if segment.extra.print == false %} noprint {% endif %} ">
    <div class="box sidebar">
        {% if segment.extra.weight % 100 == 0 %}
        <h2>{{ segment.title }}</h2>
        {% else %}
        <h3><strong>{{ segment.title }}</strong></h3>
        {% endif %}
        {% set desc = segment.extra.desc -%}
        {% if desc != '' %}
        <h3>{{ desc }}</h3>
        {% endif %} {% set location = segment.extra.location -%} {% if location != '' %}
        <p>
            <code>{{ location }}</code>
        </p>
        {% endif %}
        {% set gpa = segment.extra.gpa %} {% if gpa != '' %}
        <p>
            <code>
                        <em>GPA: {{ gpa }}</em>
                    </code>
        </p>
        {% endif %}
        <code class="printonly">{{ segment.extra.timespan }}</code>
    </div>
    <div class="box cv-content">
        {{ segment.content | safe }}
    </div>
    <div class="box timespan">
        <p>{{ segment.extra.timespan }}</p>
    </div>
</div>
{% endfor %}

{% endblock content %}